biomodels_qc
biosimulators_utils
build
brotli
coverage
gmpy2
jupyterlab
matplotlib
nbconvert
nose2
numpy
pandas
pandoc
phrasedml
pip
pylint
python-libsbml
requests
setuptools==75.8.2  # Avoid pkg_resources bug
sbmlxdf
tabulate
tellurium>=2.2.13
toml
twine
urllib3
